<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>SignInControlls</servlet-name>
  	<display-name>SignInControlls</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.SignInControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpControlls</servlet-name>
  	<display-name>SignUpControlls</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.SignUpControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormControlls</servlet-name>
  	<display-name>FormControlls</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.SignUpControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormControlls2</servlet-name>
  	<display-name>FormControlls2</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.FormControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpControlls1</servlet-name>
  	<display-name>SignUpControlls1</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.SignUpControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FormControlls1</servlet-name>
  	<display-name>FormControlls1</display-name>
  	<description></description>
  	<servlet-class>com.trianing.project.controlls.FormControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitFormControlls</servlet-name>
  	<display-name>SubmitFormControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.SubmitFormControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInControlls</servlet-name>
  	<display-name>LogInControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.LogInControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SigningUpControlls</servlet-name>
  	<display-name>SigningUpControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.SigningUpControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntControlls</servlet-name>
  	<display-name>EntControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.EntControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ManLogInControlls</servlet-name>
  	<display-name>ManLogInControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.ManLogInControlls</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ValidateIdPwd</servlet-name>
  	<display-name>ValidateIdPwd</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.ValidateIdPwd</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatedInfo</servlet-name>
  	<display-name>UpdatedInfo</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.UpdatedInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpManager</servlet-name>
  	<display-name>SignUpManager</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.SignUpManager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuickLogInControlls</servlet-name>
  	<display-name>QuickLogInControlls</display-name>
  	<description></description>
  	<servlet-class>com.training.controlls.QuickLogInControlls</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignInControlls</servlet-name>
  	<url-pattern>/SignInControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpControlls</servlet-name>
  	<url-pattern>/SignUpControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormControlls</servlet-name>
  	<url-pattern>/FormControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormControlls</servlet-name>
  	<url-pattern>/form</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormControlls2</servlet-name>
  	<url-pattern>/FormControlls2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpControlls1</servlet-name>
  	<url-pattern>/SignUpControlls1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormControlls1</servlet-name>
  	<url-pattern>/FormControlls1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitFormControlls</servlet-name>
  	<url-pattern>/SubmitFormControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitFormControlls</servlet-name>
  	<url-pattern>/formcontrolls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInControlls</servlet-name>
  	<url-pattern>/LogInControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SigningUpControlls</servlet-name>
  	<url-pattern>/SigningUpControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SigningUpControlls</servlet-name>
  	<url-pattern>/sign up</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EntControlls</servlet-name>
  	<url-pattern>/EntControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ManLogInControlls</servlet-name>
  	<url-pattern>/ManLogInControlls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ValidateIdPwd</servlet-name>
  	<url-pattern>/ValidateIdPwd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatedInfo</servlet-name>
  	<url-pattern>/UpdatedInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpManager</servlet-name>
  	<url-pattern>/SignUpManager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuickLogInControlls</servlet-name>
  	<url-pattern>/QuickLogInControlls</url-pattern>
  </servlet-mapping>
</web-app>
